.mat-dialog-names {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.first-name-field {
    padding-top: 0;
    padding-bottom: 0;
}

.last-name-field {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.form {
    padding-top: 4px;
}

.padding-0-24 {
    padding: 0 24px;
}

.form-field-postal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .postal-code {
        padding: 0 24px;
    }

    .city {
        padding: 0 24px 0 0;
    }
}

.mat-dialog-actions {
    padding-left: 24px;
    padding-bottom: 20px;
}