<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav" [opened]="drawerOpened" mode="side">
        <div class="logo-container">
            <img src="assets/img/logo3.png" alt="">
            <button class="hidden" (click)="drawer.toggle()" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <ul>
            <li routerLink="/dashboard" routerLinkActive="router-link-active">
                <mat-icon>space_dashboard</mat-icon>
                <p class="icon-text">Dashboard</p>
            </li>
            <li routerLink="/user" routerLinkActive="router-link-active">
                <mat-icon>person_outline</mat-icon>
                <p class="icon-text">User</p>
            </li>
        </ul>
    </mat-drawer>


    <div class="sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <button mat-icon-button class="menu-icon" type="button" (click)="drawer.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span>simple CRM</span>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="router-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</mat-drawer-container>