<mat-card class="user-detail-header">
    <mat-card-content>
        <div class="user-detail-headline">
            <h2>{{ user.firstName }} {{ user.lastName }}</h2>
            <p>{{ user.email }}</p>
        </div>
        <img src="assets/img/profile.png" alt="">
    </mat-card-content>
</mat-card>
<mat-card class="user-detail-content">
    <mat-card-header>
        <mat-card-title>Address:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            {{ user.address }}
            {{ user.postalCode }} {{ user.city }}
        </div>
    </mat-card-content>
    <mat-card-header>
        <mat-card-title>Birthdate:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            {{ user.birthDate }} 
        </div>
    </mat-card-content>
</mat-card>