<mat-card class="user-detail-header">
    <mat-card-content>
        <div class="user-detail-headline">
            <h2>Max Mustermann</h2>
            <p>email(at)email.de</p>
        </div>
        <img src="assets/img/profile.png" alt="">
    </mat-card-content>
</mat-card>
<mat-card class="user-detail-content">
    <mat-card-header>
        <mat-card-title>Address:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            Musterstraße 12,
            12345 Musterstadt 
        </div>
    </mat-card-content>
    <mat-card-header>
        <mat-card-title>Birthdate:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div>
            1/1/1900 
        </div>
    </mat-card-content>
</mat-card>