.user-detail-header {
    min-height: 200px;
    background-color: rgb(219, 42, 104);
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    z-index: 2;

    h2 {
        margin-bottom: 0;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
        margin-bottom: -70px;
        object-fit: cover;
    }
}

.user-detail-headline {
    position: absolute;
    top: 32px;
    left: 32px;
}

.user-detail-content {
    padding-top: 80px;
    padding-left: 20px;
    padding-bottom: 80px;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.05);
    color: rgb(0, 0, 0);
    position: relative;
}

.mat-header {
    background-color: white;
}

.icon-more-header {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 20;
    cursor: pointer;
}

.icon-more-content {
    position: absolute;
    right: 20px;
    z-index: 20;
    cursor: pointer;
}