<!-- <div class="main-container">
    <h1>Welcome to simple CRM</h1>
    <h3>Your Customer Relationship Management Tool</h3>
    <h3>This tool stores your customer data in the google firebase backend. <br>
        You can add new customers and edit their data.</h3>
</div> -->

<mat-card>
    <mat-card-content>
        <h2>Welcome to simple CRM</h2>
        <p>Your Customer Relationship Management Tool</p>
        <p>This tool stores your customer data in the google firebase backend. <br>
        You can add new customers and edit their data.</p>
    </mat-card-content>
</mat-card>