* {
    margin: 0;
    scroll-behavior: smooth;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.full-width {
    width: 100%;
}

.m-top {
    margin-top: 32px;
}
